<!-- <div>
  <app-country-select (countryChange)="onCountryChange($event)" [selectedCountry]="selectedCountry"></app-country-select>
</div> -->

<div *ngIf="selectedCountry">
  <h2>Documents for {{ selectedCountry.countryName }}</h2>
  <div
    *ngFor="let document of selectedCountry.documents"
    class="document-container"
    (click)="goToUploadPage()"
  >
    <div class="document-sample">
      <img src="https://cdn.pixabay.com/photo/2022/11/09/00/44/aadhaar-card-7579588_960_720.png" alt="">
    </div>
    <div>{{ document }}</div>
  </div>
</div>
